<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML
.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="此代码内容为注册界面" />
    <title>注册</title>
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <link rel="stylesheet" href="../../static/css/jq22.css" th:href="@{/css/jq22.css}"  />
</head>
<body>
<!-- begin -->
<div id="login">
    <div class="wrapper">
        <div class="login">
            <form action="#" method="post" class="container offset1 loginform">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <input type="hidden" name="_csrf" value="9IAtUxV2CatyxHiK2LxzOsT6wtBE6h8BpzOmk="/>
                    <div class="control-group">
                        <div class="controls">
                            <label for="userEmail" class="control-label fa fa-envelope"></label>
                            <input id="userEmail" type="email" name="email" placeholder="请输入你的邮箱" tabindex="1"  autofocus="autofocus" class="form-control input-medium" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="userName" class="control-label fa fa-envelope"></label>
                            <input id="userName" type="text" name="name" placeholder="请输入你的名字" tabindex="1" class="form-control input-medium" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password" type="password" name="password" placeholder="请输入密码" tabindex="2" class="form-control input-medium" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label fa fa-asterisk"></label>
                            <input id="password2" type="password" name="password" placeholder="请确认密码" tabindex="2" class="form-control input-medium" />
                        </div>
                    </div>
                </div>
                <div class="form-actions"><a href="/" tabindex="5" class="btn pull-left btn-link text-muted"> 已有账号?直接登录</a>
                    <button type="button" id="doLogin" tabindex="4" class="btn btn-primary">注册</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $(function() {
            $('#login #password').focus(function() {
                $('#owl-login').addClass('password');
            }).blur(function() {
                $('#owl-login').removeClass('password');
            });

            $('#login #password2').focus(function() {
                $('#owl-login').addClass('password');
            }).blur(function() {
                $('#owl-login').removeClass('password');
            });
            //注册
            $("#doLogin").click(function (e) {
                var data = {
                    email: $("#userEmail").val(),
                    password:  $("#password").val(),
                    name: $("#userName").val(),
                    action:"register"
                };
                $.ajax({
                    async:false,
                    type : "POST",
                    url : "/register",
                    data :data,
                    dataType : "json",
                    success : function(data) {
                        console.log(data);
                    },
                    error: function (data) {
                        console.log(data);
                    },
                });
            });
        });
    </script>
</div>
<!-- end -->
</body>
</html>