<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="commonHeader">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--JQuery-->
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <!--bootstrap-->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <!--AngularJS-->
        <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
        <!--layUI-->
        <link rel="stylesheet" href="/css/layui.css" media="all">
        <script src="/js/layui.js"></script>
        <!--其他-->
        <link rel="stylesheet" href="/css/animation/loading.css">
        <link rel="stylesheet" type="text/css" href="/css/leftNav/default.css">
        <link rel="stylesheet" type="text/css" href="/css/jq22.css">
        <link rel="stylesheet" href="/css/leftNav/bootstrap-vertical-menu.css">
        <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css"> ,
        <script src="/js/common.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>


    </div>
</body>
</html>